<nav class="navbar is-fixed-top">
    <div class="navbar-menu">
        <a class="navbar-item" href="basica">Calculadora Básica</a>
        <a class="navbar-item" href="cientifica">Calculadora Científica</a>
        <a class="navbar-item" href="financiera">Calculadora Financiera</a>
        <a class="navbar-item" href="grafica">Calculadora Gráfica</a>
        <a class="navbar-item" href="especializada">Calculadora Especializada</a>
        <a class="navbar-item" href="divisas">Calculadora de Divisas</a>
        <a class="navbar-item" href="unidades">Conversor de Unidades</a>
    </div>
</nav>